@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* 240 1.5% 12% */
    --background: 240 0% 0%;
    --foreground: 0 0% 100%;
    --border: 240 3.7% 15.9%;

    /* perf review theme color */
    --perf-review-50: #f5f3ff;
    --perf-review-100: #ede9fe;
    --perf-review-200: #ddd6fe;
    --perf-review-300: #c4b5fd;
    --perf-review-400: #a78bfa;
    --perf-review-500: #8b5cf6;
    --perf-review-600: #7c3aed;
    --perf-review-700: #6d28d9;
    --perf-review-800: #5b21b6;
    --perf-review-900: #4c1d95;

    /* self review theme color */
    --self-review-50: #f0fdfa;
    --self-review-100: #ccfbf1;
    --self-review-200: #99f6e4;
    --self-review-300: #5eead4;
    --self-review-400: #2dd4bf;
    --self-review-500: #14b8a6;
    --self-review-600: #0d9488;
    --self-review-700: #0f766e;
    --self-review-800: #115e59;
    --self-review-900: #134e4a;

    /* conversation coach theme color */
    --conversation-coach-50: #f5f3ff;
    --conversation-coach-100: #ede9fe;
    --conversation-coach-200: #ddd6fe;
    --conversation-coach-300: #c4b5fd;
    --conversation-coach-400: #a78bfa;
    --conversation-coach-500: #8b5cf6;
    --conversation-coach-600: #7c3aed;
    --conversation-coach-700: #6d28d9;
    --conversation-coach-800: #5b21b6;
    --conversation-coach-900: #4c1d95;

    /* To be checked again */
    --text: white;
    --gray-200: #b4b8bb;
    --gray-300: #80868b;
    --gray-500: #5f6368;
    --gray-600: #444444;
    --gray-700: #202020;
    --gray-800: #171717;
    --gray-900: #111111;
    --gray-1000: #0a0a0a;
    --border-stroke: #444444;
    --accent-blue: rgb(161, 228, 242);
    --accent-blue-active-bg: #001233;
    --accent-blue-active: #98beff;
    --accent-blue-headers: #448dff;
    --accent-green: rgb(168, 218, 181);
    --midnight-blue: rgb(0, 18, 51);
    --blue-30: #99beff;
    --accent-red: #ff4600;
    --color: var(--text);
    --font-family: 'Space Mono', monospace;
    --Neutral-00: #000;
    --Neutral-5: #181a1b;
    --Neutral-10: #1c1f21;
    --Neutral-15: #232729;
    --Neutral-20: #2a2f31;
    --Neutral-30: #404547;
    --Neutral-50: #707577;
    --Neutral-60: #888d8f;
    --Neutral-80: #c3c6c7;
    --Neutral-90: #e1e2e3;
    --Green-500: #0d9c53;
    --Green-700: #025022;
    --Blue-500: #1f94ff;
    --Blue-800: #0f3557;
    --Red-400: #ff9c7a;
    --Red-500: #ff4600;
    --Red-600: #e03c00;
    --Red-700: #bd3000;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes translateAnim {
  from {
    opacity: 0;
    transform: translateX(0px) translateY(24px) scale(1) translateZ(0px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.widget-animate.in-view {
  animation: translateAnim 1s ease;
}

.animation-pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 #f87171;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(229, 62, 62, 0);
  }

  100% {
    transform: scale(0.8);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 3s ease infinite;
}

.prose {
  max-width: 95% !important;
}
